In [1]:
import pandas as pd

In [5]:
filepath = './yelp.edgelist'
data = pd.read_csv(filepath, sep=' ',header = None) # 制表符分隔tab  
data

              0    0.1  1
0             0    198  1
1             0  11036  1
2             0  40573  1
3             0     81  1
4             0     84  1
5             0     85  1
6             0    316  1
7             0  35293  1
8             1      0  1
9             2      0  1
10            2  40560  1
11            2  74509  1
12            3      0  1
13            3  60384  1
14            3      3  1
15            3  10952  1
16            3  49808  1
17            3  40611  1
18            3    603  1
19            3    637  1
20            4      0  1
21            4  40800  1
22            4  75298  1
23            4  28195  1
24            4  63397  1
25            4  59622  1
26            4  76200  1
27            4  82540  1
28            4  69613  1
29            4  74509  1
...         ...    ... ..
2601646  686526  85534  1
2601647  686527  85534  1
2601648  686528  85535  1
2601649  686529  85535  1
2601650  686530  85535  1
2601651  686531  85535  1
2601652  686532  85535  1
2601653  686533  85535  1
2601654  686534  85535  1
2601655  686535  85537  1
2601656  686536  85537  1
2601657  686537  85537  1
2601658  686538  85538  1
2601659  686539  85538  1
2601660  686540  85538  1
2601661  686541  85538  1
2601662  686542  85538  1
2601663  686543  85538  1
2601664  686544  85538  1
2601665  686545  85538  1
2601666  686546  85538  1
2601667  686547  85538  1
2601668  686548  85538  1
2601669  686549  85538  1
2601670  686550  85538  1
2601671  686551  85538  1
2601672  686552  85538  1
2601673  686553  85538  1
2601674  686554  85538  1
2601675  686555  85538  1

[2601676 rows x 3 columns]